# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# backup files
*~
*.bk

# matlab mat-file
*.mat

# data file
*.txt
*.dat

# vim info
.viminfo

# diff files
*.diff

# project objects
dmain
emain
cmain
orig
origProgram
testCPML
hpw3d
origProgram
sine
gaussian
testMain
# test projects
#test/
run/

# backup file
*~

# compress file
*.gz
*.bz2
*.tar

# some dir
small
large

# tex files
*.log
*.aux
*.pdf

# out file
*.out

# ctag file
./tags
